body button {
  float: right;
}

body center {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8)
}

body center button {
  width: 50% !important;
  float: none;
  margin-top: 15px;
}

body center input {
  width: 80% !important;
  margin-top: 25px;
}